
.icon-search:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-ig:before { content: '\f16d'; } /* '' */
.icon-tw:before { content: '\f30a'; } /* '' */
.icon-fb:before { content: '\f30d'; } /* '' */
